<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backend Tools</title>
    <link rel="stylesheet" type="text/css" href="/style.css"> 
</head>
<body>
    <h1>Neat Backend Tools!</h1>
    <img src="/images/cool_pic.png" alt="My Image" /> <!-- link to image -->
    <br>
    <a href="/" class="button">Home</a>
</body>
</html>
