<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meds</title>
    <link rel="stylesheet" type="text/css" href="/style.css"> <!-- link to same css -->
</head>
<body>
    <h1>How do I do this?</h1>

    <!--drops.day = date return drops-->


    <a href="/" class="button">Home</a>
  </body>
</html>
