<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.10.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.10.0/addons/p5.sound.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css"> <!--dont need full path to style because in
      with express.static('public') public folder becomes root for static assets (css js images etc)-->
    <meta charset="utf-8" />

  </head>
  <body>
    <main>
    </main>    
    <h1>Cellular Automata test!!</h1>
    <p>Valid Rule must be between 2<sup>0</sup> & 2<sup>8</sup></p>
      <div class="intro-box">
        <p class="small-text">Cellular automata are crucial for understanding life because they illustrate how complex patterns and behaviors can emerge from simple, local interactions governed by straightforward rules. This mirrors how, in nature, intricate systems like ecosystems and biological processes evolve from basic interactions, showing how chaos and complexity can arise naturally from simplicity.</p>
      </div>
    <div style="height: 20px;"></div> <!-- Adds custom space between paragraphs -->    <form action="/" method="POST" id="ruleForm">
      <!--give the input submission from button a id and name to call in DOM-->
      <input type="number" id="rule" name="rule" min="1" max="256" placeholder="Enter Rule Number" required>
      <!--<button type="submit">Give me the goods</button>-->
      <a href="#" class="button" id="submitButton">Give me the Goods</a>
    </form>

    <div style="height: 5px;"></div> <!-- Adds custom space between paragraphs -->    <form action="/" method="POST" id="ruleForm">

    <!-- Reset Button -->
    <a href="#" class="button" id="resetButton">Reset</a>
        <!--use href="#" if you want link to perform an action instead of linking to another page-->

    <!-- Backend Tools -->
    <a href="/backendTools" class="button">Backend Tools</a>

    <!-- Moons -->
    <a href="/moons" class="button">Moons</a>

    <!-- workout -->
    <a href="/workout" class="button">Workout</a>

    <!-- workout -->
    <a href="/meds" class="button">Meds</a>
  


    <br>

    <div id="canvas-container">
      <% if (userRule) { %> <!--userRule defined in server.js-->
        <p>Here's a Cellular Automata for rule <%= userRule %></p>
        <script>
          var userRule = "<%= userRule %> " //taking var in html and making it js variable
          if (userRule) {
            userRule = parseInt(userRule); // Convert to integer
            }
          console.log("submitted rule from ejs:", userRule)
        </script>
      <% } %>
    </div> <!--#canvas-container is set up in css file-->

    
    <script>
      // ---Expoprt rule variable---
      document.querySelector('form').addEventListener('submit', function(event) {
          const ruleInput = document.getElementById('rule'); //Output rule so can access from server
          const ruleValue = Number(ruleInput.value); //turn into a number
  
          // Check if the input is not between 1 and 256
          if (ruleValue < 1 || ruleValue > 256) {
              event.preventDefault(); // Prevent the form from submitting
              alert('Please enter a number between 1 and 256.');
          }

      });

      // Add listener for submit rule button
      document.getElementById("submitButton").addEventListener("click", function(event) {
        event.preventDefault(); // Prevent the default anchor link behavior
        document.getElementById("ruleForm").submit(); // Submit the form
      });


      // ---Reset button: Clear image---
      document.getElementById("resetButton").addEventListener("click", function() {
       //clear input field
       document.getElementById("rule").value = '';

      // Clear the URL query parameters
      window.history.replaceState({}, document.title, window.location.pathname);
      // clear the rendered image
      clear(); //p5.js specific

      })



  </script>

  <!--RUN MAIN SCRIPT-->
  <script src="/cellAuto.js"></script>
  

  </body>
</html>
