<!--link to header partial-->
<%- include('partials/header') %>


    <h1>Medicine Drops Tracker</h1>

    <!--drops.day = date return drops-->
    <p>Drops for <span id="date"></span>: <%= drops %></p>

        <!--Get Date script: 
            you must create the element "date" first above (i.e. load it in the DOM)
            then <script> runs and sets the text content of that element-->
        <script>
            // Get today's date
            const today = new Date();
    
            // Format the date as MM/DD/YYYY
            const formattedDate = today.toLocaleDateString();
    
            // Display the formatted date inside the span with id "date"
            document.getElementById("date").textContent = formattedDate;
        </script>

    <a href="/" class="button">Home</a>



<!--link to footer partial-->
<%- include('partials/footer') %>
