<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meds</title>
    <link rel="stylesheet" type="text/css" href="/style.css?v=1"> <!--?v=1 force cache busting, change to v2 v3 as change css-->
</head>
<body>
    <h1>Medicine Drops Tracker</h1>

    <!--drops.day = date return drops-->
    <p>Drops for <span id="date"></span>: <%= drops %></p>

        <!--Get Date script: 
            you must create the element "date" first above (i.e. load it in the DOM)
            then <script> runs and sets the text content of that element-->
        <script>
            // Get today's date
            const today = new Date();
    
            // Format the date as MM/DD/YYYY
            const formattedDate = today.toLocaleDateString();
    
            // Display the formatted date inside the span with id "date"
            document.getElementById("date").textContent = formattedDate;
        </script>

    <a href="/" class="button">Home</a>
  </body>
</html>
