<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workout</title>
    <link rel="stylesheet" type="text/css" href="/style.css"> <!-- link to same css -->
</head>
<body>
    <h1>Workout Time!</h1>
    <!--Scraped Data-->  

    <a href="/" class="button">Home</a>


</body>
</html>
